<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>111298390611-76biib2co2pfu6fj8vdmc0nedbt1lker.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111298390611-76biib2co2pfu6fj8vdmc0nedbt1lker</string>
	<key>API_KEY</key>
	<string>AIzaSyBoO2xUlzF3eLhBlCG4Y9YpnBfQQpFXonA</string>
	<key>GCM_SENDER_ID</key>
	<string>111298390611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoseMariaDelgado.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>test-884bc</string>
	<key>STORAGE_BUCKET</key>
	<string>test-884bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:111298390611:ios:68d846e1e170729a</string>
	<key>DATABASE_URL</key>
	<string>https://test-884bc.firebaseio.com</string>
</dict>
</plist>